In [42]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [43]:
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [46]:
# Mapping no alley to 0, other values to +1 and -1
df['Alley'].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [47]:
# Probably dropping MiscFeature, Id

In [48]:
# Converting all nulls to 0 on LotFrontage
df['LotFrontage'].value_counts()

60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
21.0      23
90.0      23
68.0      19
24.0      19
64.0      19
73.0      18
72.0      17
79.0      17
63.0      17
55.0      17
100.0     16
51.0      15
66.0      15
74.0      15
52.0      14
59.0      13
71.0      12
82.0      12
40.0      12
43.0      12
67.0      12
57.0      12
        ...
129.0      2
124.0      2
118.0      2
101.0      2
122.0      2
121.0      2
115.0      2
109.0      2
116.0      2
114.0      2
150.0      1
111.0      1
153.0      1
182.0      1
46.0       1
112.0      1
149.0      1
141.0      1
33.0       1
152.0      1
160.0      1
168.0      1
128.0      1
144.0      1
39.0       1
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 110, dtype: int64

In [49]:
# May to June seem to be the best months
pd.crosstab(df['YrSold'], df['MoSold'])

MoSold  1   2   3   4   5   6   7   8   9   10  11  12
YrSold
2006    10   9  25  27  38  48  67  23  15  24  16  12
2007    13   8  23  23  43  59  51  40  11  16  24  18
2008    13  10  18  26  38  51  49  29  17  22  17  14
2009    12  10  19  26  37  59  61  30  20  27  22  15
2010    10  15  21  39  48  36   6   0   0   0   0   0

In [50]:
df['CentralAir'] = df['CentralAir'].map({'N': 0, 'Y': 1}).astype(int)
df['CentralAir'].value_counts()

1    1365
0      95
Name: CentralAir, dtype: int64

In [51]:
df['ExterQual'].value_counts()

TA    906
Gd    488
Ex     52
Fa     14
Name: ExterQual, dtype: int64

In [52]:
df['ExterQual'] = df['ExterQual'].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}).astype(int)
df['ExterQual'].value_counts()

3    906
4    488
5     52
2     14
Name: ExterQual, dtype: int64

In [53]:
df['ExterCond'] = df['ExterCond'].map({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}).astype(int)
df['ExterCond'].value_counts()

3    1282
4     146
2      28
5       3
1       1
Name: ExterCond, dtype: int64